nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #FED440;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color:#0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}









.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 568px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-style: normal;
  background-image: none;
  margin: 90px 303px 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  line-height: 2;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 165px 60px 195px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 316px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 203px;
    margin-right: 203px;
  }

  .u-section-1 .u-text-2 {
    width: 781px;
    margin-left: 95px;
    margin-right: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 244px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 93px;
    margin-right: 93px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: auto;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  min-height: 520px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 520px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 133px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-family: "Archivo Black";
  text-transform: none;
  margin: 0 12px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 5px 0px 0 rgba(41,46,51,0.4);
  margin: 20px auto 0;
  padding: 18px 65px 19px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 520px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 133px 30px 30px;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-family: "Archivo Black";
  text-transform: none;
  margin: 0 12px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 5px 0px 0 rgba(114,104,63,0.4);
  margin: 20px auto 0;
  padding: 18px 65px 19px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 429px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 429px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 96px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 350px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 350px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 65px;
    padding-bottom: 40px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 350px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 65px;
    padding-bottom: 40px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 450px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 60px 40px 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px 40px 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 812px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 42px 458px 0 386px;
}

.u-section-3 .u-text-2 {
  width: 793px;
  font-style: italic;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 35px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 618px;
  grid-template-rows: auto auto;
  width: 1140px;
  margin: 20px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  grid-auto-rows: calc(50% - 15px);
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-image-1 {
  width: 295px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 235px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 25px;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  margin: 36px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 65px auto 0;
}

.u-section-3 .u-list-item-2 {
  background-size: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-image-2 {
  width: 295px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 235px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 25px;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  margin: 36px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 65px auto 0;
}

.u-section-3 .u-list-item-3 {
  background-size: auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-image-3 {
  width: 295px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-3 {
  width: 235px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 25px;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  margin: 36px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 65px auto 0;
}

.u-section-3 .u-list-item-4 {
  background-size: auto;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-image-4 {
  width: 295px;
  height: 249px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-4 {
  width: 235px;
  min-height: 249px;
  background-size: auto;
  margin: -249px 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 25px;
}

.u-section-3 .u-text-6 {
  font-size: 2.25rem;
  margin: 36px 0 0;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 65px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 286px;
    margin-right: 358px;
  }

  .u-section-3 .u-list-1 {
    min-height: 510px;
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-3 .u-image-1 {
    width: 155px;
  }

  .u-section-3 .u-image-2 {
    width: 155px;
  }

  .u-section-3 .u-image-3 {
    width: 155px;
  }

  .u-section-3 .u-image-4 {
    width: 155px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 176px;
    margin-right: 248px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 22.5px);
  }

  .u-section-3 .u-image-1 {
    width: 300px;
  }

  .u-section-3 .u-group-1 {
    width: 377px;
  }

  .u-section-3 .u-image-2 {
    width: 300px;
  }

  .u-section-3 .u-group-2 {
    width: 377px;
  }

  .u-section-3 .u-image-3 {
    width: 300px;
  }

  .u-section-3 .u-group-3 {
    width: 377px;
  }

  .u-section-3 .u-image-4 {
    width: 300px;
  }

  .u-section-3 .u-group-4 {
    width: 377px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 86px;
    margin-right: 158px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 245px;
  }

  .u-section-3 .u-group-1 {
    width: 265px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    width: 245px;
  }

  .u-section-3 .u-group-2 {
    width: 265px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    width: 245px;
  }

  .u-section-3 .u-group-3 {
    width: 265px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-4 {
    width: 245px;
  }

  .u-section-3 .u-group-4 {
    width: 265px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2322px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 44px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    min-height: 1629px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-2 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
    margin-right: auto;
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-3 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-4 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-4 {
    min-height: 177px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 0;
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 404px;
}

.u-section-4 .u-text-1 {
  margin: 60px 0;
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 420px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 464px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 112px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 380px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 416px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 64px 0 40px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 16px 64px 0 40px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 4px 64px 0 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 313px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 343px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 31px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 30px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 30px;
    margin-left: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 10800px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-2 {
    min-height: 453px;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/69e613f7-1bba-43aa-bb71-293420ba84ec.image.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 411px;
}

.u-section-6 .u-text-1 {
  width: 670px;
  margin: 69px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  width: 670px;
  margin: 69px auto 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 184px;
  min-width: 88px;
  margin: 54px auto 60px;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-6 .u-text-2 {
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}